@font-face {
  font-family: "FeelingPassionate";
  src: url(/icon/webfonts/FeelingPassionate.otf) format("openType");
}

@font-face {
  font-family: "rumble";
  src: url(/icon/webfonts/Rumble.otf) format("openType");
}

nav h1 {
  font-family: "FeelingPassionate";
  font-size: 2.5rem;
  width: 100%;
  height: auto;
  max-width: 375px;
  font-weight: bolder;
}

header {
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

html {
  scroll-behavior: smooth;
  font-size: 80%;
  scroll-padding-top: 5.5rem;
  overflow-x: hidden;
}

body {
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  background: #000000;
}

section {
  padding: 3rem;
}

header nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

header nav span {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
section h1 {
  text-shadow: 2px 1px #e6b325;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container .title {
  animation: fade 1s ease-in;
  color: #61481c;
  text-shadow: 2px 1px #e6b325;
  font-size: 6em;
  font-weight: 500;
  font-family: "rumble";
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
  text-align: center;
  padding: 15px;
}

.container .image-container {
  columns: 3 250px;
  gap: 15px;
}

.container .image-container img {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  border: 3px solid #ffff;
}
img:hover {
  transform: scale(1.1);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
